* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
html {
	font-size: 62.5%;
}
:root {
	--lead-color: #3aecfe;
	--lead-darker: #35a7e6;
	--cta-color: #354ae6;
	--custom-white: hsl(186, 99%, 90%);
	--text-color: #000;
	--text-brighter: #2e2e2e;
}

///global elements
body {
	background-color: #488dfd1a;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='124' height='124' viewBox='0 0 100 100'%3E%3Cg stroke='%23CCCCCC' stroke-width='0' stroke-opacity='0.2'%3E%3Crect fill='%23FFFFFF' x='-60' y='-60' width='112' height='240'/%3E%3C/g%3E%3C/svg%3E");
	font-size: 1.6rem;
	font-family: 'Inter', sans-serif;
}
h1,
h2 {
	margin: 0.8em 0;
	color: var(--cta-color);
	font-family: 'Pacifico', cursive;
	text-align: center;
}
button {
	margin: 10px 0;
	padding: 0.8em 1.6em;
	border: none;
	font-size: 1.6rem;
	border-radius: 10px;
	font-family: 'Inter', sans-serif;
	cursor: pointer;
}
.app-no-select {
	user-select: none;
}

///Main
.main {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	width: 100%;
}

///Recipes APP
.recipes-app {
	flex-grow: 1;
	.recipes-box,
	.recipes-popup-box {
		margin: 30px 0;
		padding: 20px;
		background-color: var(--lead-color);
		min-height: 600px;
		width: 100%;
		max-width: 700px;
		// box-shadow: 18px 15px 20px rgba(0, 0, 0, 0.326) ;
	}
	.recipes-popup {
		position: absolute;
		top: 0;
		left: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100%;
		background-color: #00000065;
	}
	.recipe-item {
		margin: 20px 0;
		padding: 10px;
		border-radius: 10px;
		background-color: var(--lead-darker);
		&-heading {
			margin: 10px 0;
			display: flex;
			align-items: center;
			justify-content: space-between;
			color: white;
			p {
				color: var(--lead-color);
			}
		}
		.recipe-introduction {
			&-text {
				margin: 15px 0;
				padding: 5px;
				background-color: var(--custom-white);
				border-radius: 5px;
				p {
					overflow-wrap: break-word;
				}
			}
		}
		.recipe-modify-icons {
			display: flex;
			justify-content: center;
			align-items: center;
		}
		.recipe-modify-icon {
			margin: 1px;
			cursor: pointer;
			transition: color 0.3s;
			color: var(--custom-white);
			&:hover {
				color: var(--cta-color);
			}
		}
		i {
			margin: 10px;
			pointer-events: none;
		}
	}
	.extended {
		.recipe-introduction {
			display: block;
		}
	}
	.recipe-introduction {
		display: none;
	}
	.hide {
		display: none;
	}
	.recipes-popup {
		&-box {
			position: relative;
		}
		p {
			margin: 0.5em 0;
		}
		input,
		textarea {
			padding: 0.5em 1em;
			margin-bottom: 20px;
			width: 100%;
			font-size: 1.6rem;
			font-family: 'Inter', sans-serif;
			border: none;
			border-radius: 5px;
		}
		textarea {
			min-height: 220px;
			resize: vertical;
		}
		.popup-cancel {
			position: absolute;
			top: 10px;
			right: 10px;
			padding: 0.5em 0.8em;
			border-radius: 50%;
			background-color: var(--cta-color);
			color: var(--custom-white);
			cursor: pointer;
		}
	}

	.recipes-add-btn,
	.submit-btn {
		width: 100%;
		background-color: var(--cta-color);
		color: var(--lead-color);
		transition: background-color 0.3s;
		&:hover {
			background-color: var(--lead-darker);
			color: var(--text-brighter);
		}
	}
	.popup-error {
		color: red;
		text-align: center;
	}
}

///Footer
.footer {
	padding: 10px;
	width: 100%;
	text-align: center;
	background-color: var(--custom-white);
}

///Media
@media (min-width: 768px) {
	.recipes-app {
		flex-grow: 0;
		.recipes-box,
		.recipes-popup-box {
			width: 700px;
			border-radius: 20px;
			box-shadow: 18px 15px 20px rgba(0, 0, 0, 0.326);
		}
	}
}
